h2, p {
    margin: 0;
    padding: 0;
}

aside > section {
    /* background-color: rgba(200, 200, 200, 0.5); /*/
    background-color: #b9d3dc;/*/
    border-color: lightgray; /*/
    border-color: #a0bfbf; /**/
    border-width: 1.5px;
    border-style: outset;
    border-radius: 30px;
    margin: 3%;
    padding: 3%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

aside > section > h2 {
    text-align: center;
    font-size: x-large;
    margin-bottom: 2%;
}

aside > section > form {
    display: flex;
    flex-wrap: wrap;
}

aside > section > form > button {
    text-align: center;
    background-color: white;
    border: 1px outset #737373;
    border-radius: 20px;
    padding: 1%;
    width: 49%;
    height: 250px;
    overflow: hidden;
}

aside > section > form > button:not(:last-of-type, :nth-last-of-type(2)) {
    margin-bottom: 2%;
}

aside > section > form > button:nth-of-type(odd) {
    margin-right: 2%;
}

aside img {
    display: block;
    align-content: center;
    border-radius: 10px;
    max-height: 60%;
    max-width: 90%;
    margin: 0 auto 3%;
}

aside > section > form > button, aside > section > form > button > span {
    font-weight: bold;
}

aside > section > form > button > ins {
    font-weight: bold;
    color: #b30000;
    text-decoration: none;
}

aside > section > form > button > del {
    color: #444;
}

@media screen and (min-width: 768px) {
    aside > section {
        margin: 1%;
        padding: 1%;
    }
    
    aside > section > h2 {
        margin-bottom: 1%;
    }

    aside > section > form > button {
        width: 24.25%;
    }

    aside > section > form > button:not(:last-of-type, :nth-last-of-type(2)) {
        margin-bottom: 0;
    }

    aside > section > form > button:not(:last-of-type) {
        margin-right: 1%;
    }
}