main button {
    border-radius: 100px;
    border: 0;
}

main button > img {
    max-height: 24px;
    padding: 1%;
}

main > section, main > div {
    text-align: center;
    margin: 3%;
}

main > div > a:first-of-type > img {
    width: 70%;
}

main > div > a > img {
    width: 50%;
    transition: transform 0.5s ease;
}

main > div > a > img:hover {
    transform: scale(1.05);
}

main > section > header, main > article, main > section > ul > li, main > section > form, main > div > section {
    /* background-color: rgba(200, 200, 200, 0.5); /*/
    background-color: #b9d3dc;/*/
    border-color: lightgray; /*/
    border-color: #a0bfbf; /**/
    border-width: 1.5px;
    border-style: outset;
    border-radius: 30px;
    margin: 3% 0;
    padding: 3%;
    text-align: start;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

main > section > ul {
    display: flex;
    flex-wrap: wrap;
}

main > section > ul > li {
    width: 49%;
    margin-top: 0;
    text-align: center;
}

main > section > ul > li:last-of-type, main > section > ul > li:nth-last-of-type(2) {
    margin-bottom: 0;
}

main > section > ul > li:nth-child(odd) {
    margin-right: 2%;
}

main > section > header + ul {
    display: block;
}

main > section > header + ul > li {
    width: 100%;
    margin-top: 3%;
    text-align: start;
}

main > section > header + ul > li:nth-child(odd) {
    margin-right: 0;
}

main > section > header + ul > li:last-of-type, main > section > header + ul > li:nth-last-of-type(2) {
    margin-bottom: 0;
}

main > article {
    margin: 3%;
}

main > section h2 {
    text-align: center;
    font-size: x-large;
}

main > section > header > form {
    margin-top: 2%;
}

main > section > header > form > strong {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-size: larger;
    text-align: center;
}

main > section > header > form > button {
    width: 50%;
    vertical-align: middle;
    display: inline-flex;
    background-color: gold;
    font-size: larger;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px outset rgb(210, 179, 0);
}

main > section > header > form > button > img {
    max-height: 100%;
    max-width: 20%;
}

main > section > header > form > button:hover {
    background-color: rgb(210, 179, 0);
}

main > article > section {
    text-align: center;
}

main > article > section > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    border-radius: 20px;
}

main > article > section > form {
    text-align: center;
    margin: 1% 0;
}

main > article > section > form img {
    height: 80px;
    padding: 5%;
    border-radius: 15px;
}

main > article > section > form input[type="radio"], main > article > section > form input[type="radio"] + label > span {
    display: none;
}

main > article > section > form input[type="radio"]:checked + label > img {
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

main > section > header + ul > li {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
}

main > section > ul > li > a {
    text-decoration: none;
    color: black;
    vertical-align: top;
    display: inline-block;
    width: 100%;
}

main > section > header + ul > li > a {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / 4;
    grid-row: 1 / 8;
}

main > section > header + ul > li > form {
    grid-column: 2 / 4;
    grid-row: 5 / 8;
}

main ul > li > button[name='edit'] {
    grid-column: 2 / 4;
    grid-row: 5;
}

main > section > header + ul > li > a > img {
    max-width: 90%;
    margin-right: 10%;
    border-radius: 20px;
    justify-self: center;
    grid-column: 1;
    grid-row: 1 / 7;
}

main > section > header + ul > li > a > p:first-of-type, main > section > header + ul > li > a > p:nth-of-type(2) {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 4%;
    width: 100%;
    vertical-align: top;
    font-size: large;
    grid-column: 2;
}

main > section > header + ul > li > a > p:nth-of-type(2) /*:not(:first-of-type)*/ {
    text-align: end;
    grid-column: 3;
}

main > section > header + ul > li > a > p {
    display: inline-block;
    margin-bottom: 2%;
    width: 100%;
    grid-column: 2 / 4;
}

main > section > ul > li > a > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    border-radius: 20px;
}

main > section > ul > li > a > h2 {
    font-size: larger;
}

main > section > ul > li > p {
    display: inline-block;
    font-size: large;
    width: 60%;
    vertical-align: middle;
}

main > section > header + ul > li > p {
    width: 100%;
    font-size: medium;
}

main > section > ul > li > button {
    background-color: transparent;
    width: 15%;
    vertical-align: bottom;
}

main > section > ul > li > button:nth-child(odd) {
    margin-left: 5%;
}

main > section > ul > li > button:nth-child(even) {
    margin-right: 5%;
}

main > section > ul > li > a + button:nth-child(odd) {
    margin-left: 0;
}

main > section > ul > li > a + button:nth-child(even) {
    margin-right: 0;
}

main > section > ul > li > button:hover, main > section > ul > li > button > img:hover {
    background-color: #a0bfbf;
}

main > section > ul > li > strong {
    font-size: larger;
    margin-bottom: 2%;
    text-align: center;
}

main > section > header + ul > li > strong:first-of-type, main > section > header + ul > li > strong ~ p:nth-child(odd) {
    grid-column: 1 / 3;
}

main > section > header + ul > li > strong ~ form {
    grid-column: 3;
    grid-row: 2;
}

main > section > ul > li > p, main > section > ul > li > span, main > section > ul > li > p, main > section > ul > li > form {
    margin-bottom: 2%;
    text-align: center;
}

main > section > ul > li > p, main > section > ul > li > form > select {
    border-radius: 100px;
    text-align: center;
}

main > section > ul > li > form > select{
    border: 1px outset #737373;
}

main > section > ul > li > span > p, main > section > ul > li > span > strong {
    display: inline-block;
    margin-right: 1%;
}

main > section > ul > li > ul {
    grid-column: 1 / 4;
    grid-row: 4;
    border: 1px solid #a0bfbf;
    border-radius: 20px;
    padding: 3%;
}

main > section > ul > li > ul > li:not(:last-of-type) {
    margin-bottom: 3%;
}

main > section > ul > li > ul > li > a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    text-decoration: none;
    color: black;
}

main > section > ul > li > ul > li > a > img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 300px;
    margin-right: 10%;
    grid-column: 1;
    grid-row: 1 / 6;
    border-radius: 10px;
    justify-self: center;
}

main > section > ul > li > ul > li > a > p:first-of-type, main > section > ul > li > ul > li > a > p:nth-of-type(2) {
    font-weight: bold;
    margin-bottom: 4%;
}

main > section > ul > li > ul > li > a > p:nth-of-type(2) /*:not(:first-of-type)*/ {
    text-align: end;
}

main > section > ul > li > ul > li > a > p:not(:first-of-type, :nth-of-type(2)) {
    grid-column: 2 / 4;
    margin-bottom: 2%;
}

main > article > section > h2 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: start;
}

main > article > section > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: end;
    vertical-align: top;
    margin-bottom: 2%;
}

main > article > section > p:first-of-type {
    font-weight: bold;
    font-size: larger;
    width: 50%;
}

main > article > section > p{
    display: inline-block;
    margin-bottom: 2%;
    vertical-align: top;
    text-align: end;
    width: 100%;
}

main > article > section > p:last-of-type {
    margin-bottom: 0;
}

main ins {
    color: #B30000;
    text-decoration: none;
    font-weight: bold;
}

main del {
    color: #444;
    font-weight: normal;
}

p > img, main a[href='#Reviews'] > img, main section[id='Reviews'] img {
    height: 18px;
    vertical-align: middle;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

main > section > ul > li > form > span {
    display: inline-flex;
    width: 35%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 100px;
    margin-right: 5%;
    padding: 2%;
    vertical-align: middle;
    border: 1px outset #737373;
}

main > section > ul > li > form > span > label {
    visibility: hidden;
    font-size: 0;
}

main > section > ul > li > form > span > input {
    width: 40%;
    border: 0;
    text-align: center;
    box-sizing: border-box;
    font-size: medium;
}

main > section > ul > li > form > span > button {
    width: 30%;
    font-size: medium;
    /* aspect-ratio: 1 / 1; */
}

main > section button[name='cartRemove'], main > section button[name='favouriteRemove'] {
    color: white;
    width: 100%;
    vertical-align: middle;
    display: inline-flex;
    background-color: #B30000;
    font-size: large;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px outset #9e0000;
}

main > section button[name='cartRemove']:hover, main > section button[name='favouriteRemove']:hover {
    background-color: red;
}

main > section button[name='cartRemove'] {
    width: 60%;
}

main form > button[name='favourite'], main form > button[name='cart'], main section:not([id='Reviews']) button[name='edit'],
main article button[name='edit'] {
    width: 80%;
    vertical-align: middle;
    display: inline-flex;
    background-color: white;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px outset #737373;
}

main ul > li > form > button[name='favourite'], main ul > li > form > button[name='cart'], main ul > li > button[name='edit'] {
    width: 100%;
}


main form > button[name='favourite']:hover, main > article button[name='edit']:hover {
    background-color: #ddd;
}

main form > button[name='cart'] {
    background-color: gold;
    border: 1px outset rgb(210, 179, 0);
}

main form > button[name='cart']:hover {
    background-color: rgb(210, 179, 0);
}

main > article > form {
    text-align: center;
}

main > article > form > span {
    display: inline-flex;
    width: 50%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 100px;
    border: 1px outset #737373;
    vertical-align: middle;
    align-items: center;
}

main > article > form > span > label {
    display: inline-block;
    width: 50%;
    text-align: start;
    padding-left: 4%;
}

main > article > form > span > input {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    border: 0;
    text-align: center;
    font-size: medium;
}

main > article > form > span > button {
    display: inline-block;
    width: 10%;
    margin: 2%;
    font-size: medium;
    aspect-ratio: 1 / 1;
}

main > article h3 {
    margin: 3% 0 1%;
}

main section[id='Reviews'] {
    text-align: start;
    border: 1px solid #a0bfbf;
    border-radius: 20px;
    padding: 3%;
    margin-top: 2%;
}

main section[id='Reviews'] > header > h3 {
    display: inline-block;
    width: 50%;
    margin-top: 0;
    margin-bottom: 2%;
}

main section[id='Reviews'] > header > p {
    display: inline-block;
    width: 50%;
    font-weight: normal;
    font-size: medium;
    margin-bottom: 2%;
    text-align: end;
}

main section[id='Reviews'] > form {
    margin: 0;
}

main section[id='Reviews'] button {
    padding: 1% 2%;
    border: 1px outset #737373;
}

main section[id='Reviews'] label {
    display: inline-block;
    width: 40%;
    margin-top: 1%;
    vertical-align: top;
    text-align: start;
}

main section[id='Reviews'] input {
    width: 60%;
    margin: 1% 0;
    vertical-align: top;
}

main section[id='Reviews'] input[type='image'] {
    width: 30%;
    margin-right: 30%;
}

main section[id='Reviews'] textarea {
    box-sizing: border-box;
    width: 60%;
    margin: 1% 0;
    resize: none;
    vertical-align: top;
    border-radius: 10px;
    padding: 1%;
}

main section[id='Reviews'] > article {
    text-align: start;
}

main section[id='Reviews'] > article > h4, main section[id='Reviews'] > article > img {
    display: inline-block;
    margin-top: 2%;
    padding: 0 2% 0 0;
    vertical-align: middle;
}

main section footer {
    text-align: center;
    margin-top: 2%;
}

main section footer a {
    text-decoration: none;
}

main > section > form > p {
    font-weight: bold;
    color: #B30000;
    margin-bottom: 1%;
}

main > section > form > ul > li {
    text-align: center;
}

main > section > form > ul > li:not(:last-of-type) {
    margin-bottom: 0.5%;
}

main > section > form > ul > li:nth-last-of-type(4) {
    margin-bottom: 1%;
}

main > section > form > label, main > section > form > ul > li > label {
    display: inline-block;
    width: 40%;
    margin-top: 1%;
    text-align: start;
}

main > section > form > ul > li > label > img{
    max-width: 95%;
    margin-right: 5%;
    border-radius: 10px;
}

main > section > form > input, main > section > form > ul > li > input, main > section > form > select,
main > section > form > textarea {
    box-sizing: border-box;
    width: 60%;
    padding: 0 1%;
    margin-top: 1%;
    border-radius: 100px;
    border: 1px solid #737373;
}

main > section > form > ul > li > button, main > section > form button {
    padding: 1% 2%;
    margin: 1% 1% 0 ;
    border: 1px outset #737373;
}

main > section > form {
    text-align: center;
}

main > section > form > div > h2 {
    margin-bottom: 1%;
}

main > section > form > div > h2 ~ * {
    display: inline-block;
    width: 100%;
    margin-top: 1%;
    text-align: start;
}

main > section > form > div ~ * {
    margin-top: 0.5%;
}

main > section > form button {
    margin-top: 2%;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    width: 30%;
    font-size: large;
    align-items: center;
}

main > section > form > button > img {
    display: inline;
}

main > section > form > button[name='buy'] {
    background-color: gold;
    border: 1px outset rgb(210, 179, 0);
}

main > section > form > button[name='buy']:hover {
    background-color: rgb(210, 179, 0);
}

main > section > form > ul > li > input[type='file'] {
    border: 0;
    padding: 0;
    border-radius: 0;
}

main > section > form > h2 {
    margin-bottom: 1%;
}

main > section > form > label > img {
    width: 95%;
    margin-right: 5%;
    border-radius: 10px;
}

main > section > form > input[type='file'] {
    border: 0;
    padding: 0;
    border-radius: 0;
    vertical-align: top;
}

main > section > form > textarea {
    border-radius: 10px;
    resize: none;
}

main > section > form > select {
    text-align: center;
}

main > section > form button {
    padding: 0.5% 1%;
    font-size: medium;
}

main > div > section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
}

main > div > section:first-of-type > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 175px;
    grid-row: 1 / 6;
    border-radius: 20px;
    justify-self: center;
}

main > div > section:first-of-type > h2 {
    font-size: larger;
}

main > div > section:first-of-type > img ~ * {
    margin-top: 2%;
    margin-left: 5%;
}

main > div > section:first-of-type > button {
    margin: 5% 15% 0;
    width: 70%;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px outset #737373;
}

main > div > button {
    background-color: #FF6161;
    font-size: large;
    border: 1px outset #9e0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1% 4%;
}

main > div > button > img {
    margin-left: 5%;
}

main > div > button:hover {
    background-color: red;
}

main > div > section > header > img {
    max-height: 32px;
    padding-right: 2%;
    vertical-align: middle;
}

main > div > section > header > h2 {
    display: inline-block;
    vertical-align: middle;
}

main > div > section > ul > li {
    display: grid;
    grid-template-columns: auto 35px 35px;
}

main > div > section > ul > li > h3 {
    margin-top: 3%;
    margin-bottom: 0.5%;
    grid-column: 1 / 4;
}

main > div > section > ul > li > span, main > div > section > ul > li > strong {
    grid-column: 1;
    grid-row: 2 / 4;
}

main > div > section > ul > li > button {
    background-color: transparent;
    grid-row: 2;
}

main > div > section > ul > li > button:hover {
    background-color: #a0bfbf;
}

main > div > section > ul > li > button > img {
    max-height: 32px;
}

@media screen and (min-width: 768px) {
    main > section, main > div {
        margin: 1%;
    }

    main > div {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        /* grid-template-rows: 2fr 1fr; */
    }
    
    main > div > a:first-of-type {
        grid-column: 2;
        align-content: normal;
        margin-top: 0;
    }

    main > div > a:nth-of-type(2) {
        grid-column: 1;
    }

    main > div > a {
        grid-row: -1 / -3;
        align-content: end;
        margin-top: 20%;
    }

    main > div > a:first-of-type > img {
        width: 80%;
    }

    main > div > a > img {
        width: 100%;
    }

    main > section > header, main > article, main > section > ul > li, main > section > form, main > div > section {
        margin: 1% 0;
        padding: 1%;
    }

    main > section > ul > li {
        width: 24.25%;
        margin-top: 0;
        text-align: center;
    }

    main > section > ul > li:nth-last-of-type(-n + 4) {
        margin-bottom: 0;
    }

    main > section > ul > li:not(:nth-of-type(4n)) {
        margin-right: 1%;
    }

    main > article {
        margin: 1%;
    }

    main > section > header > form > button {
        padding: 1%;
    }

    main > section > header > form > button > img {
        max-width: 10%;
        max-height: 30px;
    }

    main > article {
        display: grid;
        grid-template-columns: 3fr 3fr 2fr;
        grid-template-rows: repeat(10, auto);        
    }

    main > article > section {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: 1 / 4;
        grid-row: 1 / 10;
    }

    main > article > form {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: 3;
        grid-row: 6 / 10;
    }

    main > article > section > img {
        grid-row: 1 / 8;
        max-width: 95%;
        margin-right: 5%;
    }

    main > article > section > form {
        grid-column: 1;
        grid-row: 8 / 10;
    }

    main > article > section > h2 {
        width: 100%;
    }

    main > article > section > p:first-of-type {
        grid-column: 3;
        width: 100%;
    }
    
    main > article > section > p, main > article > section > a {
        grid-column: 3;
    }

    main > article > h3 {
        grid-column: 2;
        grid-row: 7;
    }

    main > article > p {
        grid-column: 2;
        grid-row: 8 / 10;
    }

    main > article > h3:first-of-type {
        grid-row: 2;
    }

    main > article > p:first-of-type {
        grid-row: 3 / 7;
    }

    main > article > form > span {
        width: 100%;
    }

    main > article > form > button[name='cart'], main > article > form > button[name='favourite'], main > article > form > button[name='edit'] {
        width: 100%;
    }

    main > article > section[id='Reviews'] {
        display: block;
        padding: 1%;
        grid-column: 1 / 4;
        grid-row: 10;
    }

    main > section > header + ul > li {
        margin-top: 1%;
    }

    main > section > header + ul > li > a > p:nth-of-type(3) {
        grid-column: 2;
    }

    main > section > header + ul > li > a > p:nth-of-type(4) {
        grid-column: 3;
    }

    main > section > ul > li > form > span {
        width: 20%;
    }

    main > section button[name='favouriteRemove'], main ul > li > form > button[name='cart'], 
    main ul > li > form > button[name='favourite'], main ul > li > button[name='edit'] {
        width: 40%;
        margin: 2% 5%;
    }

    main > section button[name='cartRemove'] {
        width: 25%;
        margin: 2% 0;
    }

    main > section > ul > li > form > span {
        padding: 1%;
    }

    main > section > form > label, main > section > form > ul > li > label {
        width: 30%;
        margin-left: 10%;
    }

    main > section > form > input, main > section > form > ul > li > input, main > section > form > select,
    main > section > form > textarea {
        width: 50%;
        margin-right: 10%;
    }

    main > section > ul > li > ul {
        padding: 1%;
    }

    main > section > ul > li > ul > li:not(:last-of-type) {
        margin-bottom: 2%;
    }

    main > section > form > div > h2 ~ * {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    main > div > section {
        grid-column: 1 / 4;
    }    
    
    main > div > button {
        grid-column: 2;
        grid-row: 2;
        width: 40%;
        justify-self: center;
    }

    main section[id='Reviews'] input[type='image'] {
        width: 20%;
        margin-right: 40%;
        min-height: 18px;
    }
}