h2, h3, h4, ul, p, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    cursor: pointer;
    /* background-color: #aaa; */
}

main button {
    border-radius: 100px;
    border: 0;
}

main button > img {
    max-height: 24px;
    padding: 1%;
}

main > section, main > div {
    text-align: center;
    margin: 2%;
}

main > div > a:first-of-type > img {
    width: 70%;
}

main > div > a > img {
    width: 50%;
    transition: transform 0.5s ease;
}

main > div > a > img:hover {
    transform: scale(1.05);
}

main > section > header, main > article,  main > section > ul > li, main > section > form {
    /* background-color: rgba(200, 200, 200, 0.5); /*/
    background-color: #b9d3dc;/*/
    border-color: lightgray; /*/
    border-color: #a0bfbf; /**/
    border-width: 1.5px;
    border-style: outset;
    border-radius: 30px;
    margin: 2% 0;
    padding: 3%;
    text-align: start;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

main > article {
    margin: 2%;
}

main > section h2 {
    text-align: center;
}

main > section > header > form {
    margin-top: 2%;
}

main > section > header > form > strong {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-size: larger;
    text-align: center;
}

main > section > header > form > button {
    width: 50%;
    vertical-align: middle;
    display: inline-flex;
    background-color: gold;
    font-size: large;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

main > article > section {
    text-align: end;
}

main > article > section > img {
    width: 100%;
    border-radius: 20px;
}

main > article > section > form {
    text-align: center;
    margin: 1% 0;
}

main > article > section > form img {
    height: 50px;
    padding: 0.5%;
    border-radius: 5px;
}

main > article > section > form input[type="radio"], main > article > section > form input[type="radio"] + label > span {
    display: none;
}

main > article > section > form input[type="radio"]:checked + label > img {
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

main > section > header + ul > li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    list-style: none;
}

main > section > ul > li > a {
    text-decoration: none;
    color: black;
    vertical-align: top;
    display: inline-block;
}

main > section > header + ul > li > a:first-of-type {
    grid-column: 1;
    grid-row: 1 / 4;
}

main > section > header + ul > li > a > img {
    max-width: 90%;
    margin-right: 5%;
    border-radius: 15px;
    align-self: center;
}

main > section > header + ul > li > a > span {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 4%;
    width: 50%;
    vertical-align: top;
    font-size: large;
}

main > section > header + ul > li > a > p:first-of-type {
    font-weight: bold;
    width: 50%;
    vertical-align: top;
    font-size: large;
}

main > section > header + ul > li > a > p {
    display: inline-block;
    margin-bottom: 2%;
    width: 100%;
}

main > article > section > h2 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: start;
}

main > article > section > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: end;
    vertical-align: top;
    margin-bottom: 2%;
}

main > article > section > p:first-of-type {
    font-weight: bold;
    font-size: larger;
    width: 50%;
}

main > article > section > p {
    display: inline-block;
    margin-bottom: 2%;
    vertical-align: top;
    text-align: end;
    width: 100%;
}

main ins {
    color: rgb(200, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

main del {
    color: #444;
    font-weight: normal;
}

p > img, main a[href='#Reviews'] > img, main section[id='Reviews'] img/*, main section[id='Reviews'] > form > input[type='image'] */{
    height: 18px;
    vertical-align: middle;
}

main > section > header + ul > li > form {
    justify-content: flex-end;
    grid-column: 2;
    grid-row: 2;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

main > section > ul > li > form > span {
    display: inline-block;
    width: 35%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 100px;
    margin: 0 5% 5% 0;
    padding: 2%;
    vertical-align: middle;
}

main > section > ul > li > form > span > input {
    width: 40%;
    border: 0;
    text-align: center;
    box-sizing: border-box;
    font-size: medium;
}

main > section > ul > li > form > span > button {
    width: 30%;
    font-size: medium;
}

main > section button[name='cartRemove'], main > section button[name='favouriteRemove'] {
    width: 100%;
    vertical-align: middle;
    display: inline-flex;
    background-color: red;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

main > section button[name='cartRemove'] {
    width: 60%;
}

main form > button[name='favourite'], main form > button[name='cart'], main > section button[name='edit'] {
    width: 100%;
    vertical-align: middle;
    display: inline-flex;
    background-color: white;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

main form > button[name='cart'] {
    background-color: gold;
}

main > article > form {
    text-align: center;
}

main > article > form > span {
    display: inline-block;
    width: 50%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 2%;
    vertical-align: middle;
}

main > article > form > span > label {
    display: inline-block;
    width: 50%;
    text-align: start;
}

main > article > form > span > input {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    border: 0;
    text-align: center;
    font-size: medium;
}

main > article > form > span > button {
    display: inline-block;
    width: 15%;
    font-size: medium;
}

main > article h3 {
    margin: 3% 0 1%;
}

main section[id='Reviews'] {
    text-align: start;
}

main section[id='Reviews'] > header > h3 {
    display: inline-block;
    width: 50%;
    margin-bottom: 2%;
}

main section[id='Reviews'] > header > p {
    display: inline-block;
    width: 50%;
    font-weight: normal;
    font-size: medium;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: end;
}

main section[id='Reviews'] > form {
    margin: 0;
}

main section[id='Reviews'] button {
    padding: 1% 2%;
}

main section[id='Reviews'] label {
    display: inline-block;
    width: 30%;
    margin-top: 1%;
    margin-left: 10%;
    vertical-align: top;
    text-align: start;
}

main section[id='Reviews'] input {
    width: 50%;
    margin: 1% 10% 1% 0;
    vertical-align: top;
}

main section[id='Reviews'] textarea {
    box-sizing: border-box;
    width: 50%;
    margin: 1% 10% 1% 0;
    resize: none;
    vertical-align: top;
}

main section[id='Reviews'] form button {
    padding: 2% 3%;
    margin-top: 1%;
}

main section[id='Reviews'] > article {
    text-align: start;
}

main section[id='Reviews'] > article > h4, main section[id='Reviews'] > article > img {
    display: inline-block;
    margin-top: 2%;
    padding: 0 2% 0 0;
    vertical-align: middle;
}

main section footer {
    text-align: center;
    margin-top: 2%;
}

main section footer a {
    text-decoration: none;
}

main > section > form > p {
    font-weight: bold;
    color: red;
    margin-bottom: 1%;
}

main > section > form > ul > li {
    list-style: none;
    text-align: center;
}

main > section > form > ul > li:not(:last-of-type) {
    margin-bottom: 0.5%;
}

main > section > form > ul > li:nth-last-of-type(4) {
    margin-bottom: 1%;
}

main > section > form > ul > li > label {
    display: inline-block;
    width: 30%;
    margin-left: 15%;
    text-align: start;
}

main > section > form > ul > li > input {
    box-sizing: border-box;
    width: 40%;
    padding: 0 1%;
    margin-right: 15%;
    border-radius: 100px;
    border: #444 solid 1px;
}

main > section > form > ul > li > button {
    padding: 1% 2% 1%;
    margin: 0 1%;
}

main > section > form > ul > li > input[type='file'] {
    width: 50%;
    margin: 0 25%;
    border: 0;
    padding: 0;
    border-radius: 0;
}
